<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
        <nb-card-header>Salary</nb-card-header>
        <nb-card-body>
            <form class="form-inline">
            <input [(ngModel)]="user.salary" name="salary" type="text" nbInput fullWidth placeholder="R$">
            <button type="submit" nbButton status="primary" (click)="updateUser()">Save</button>
            </form>
        </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
        <nb-card-header>Save Money</nb-card-header>
        <nb-card-body>
            <form class="form-inline">
            <input [(ngModel)]="user.salarySave" name="salarySave" type="text" nbInput fullWidth placeholder="R$">
            <button type="submit" nbButton status="primary" (click)="updateUser()">Save</button>
            </form>
        </nb-card-body>
        </nb-card>
    </div>
</div>